default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: postgres
  username: postgres
  password: admin
  host: <%= ENV['DEVELOPMENT_DB_HOST'] %>
  port: <%= ENV['DEVELOPMENT_DB_PORT'] %>

production:
  <<: *default
  database: <%= ENV['PRODUCTION_DB_NAME'] %>
  username: <%= ENV['PRODUCTION_DB_USERNAME'] %>
  password: <%= ENV['PRODUCTION_DB_PASSWORD'] %>
  host: <%= ENV['PRODUCTION_DB_HOST'] %>
  port: <%= ENV['PRODUCTION_DB_PORT'] %>

test:
  <<: *default
  database: postgres
  username: postgres
  password: admin
  host: <%= ENV['DEVELOPMENT_DB_HOST'] %>
  port: <%= ENV['DEVELOPMENT_DB_PORT'] %>
